[submodule "infra"]
	path = infra
	url = https://github.com/5krotov/task-resolver-infra
[submodule "data-provider-service"]
	path = data-provider-service
	url = https://github.com/5krotov/task-resolver-data-provider-service
[submodule "api-service"]
	path = api-service
	url = https://github.com/5krotov/task-resolver-api-service
[submodule "worker-service"]
	path = worker-service
	url = https://github.com/5krotov/task-resolver-worker-service
[submodule "agent-service"]
	path = agent-service
	url = https://github.com/5krotov/task-resolver-agent-service
[submodule "pkg"]
	path = pkg
	url = https://github.com/5krotov/task-resolver-pkg
[submodule "web-ui"]
	path = web-ui
	url = https://github.com/5krotov/task-resolver-web-ui
[submodule "performance-test"]
	path = performance-test
	url = https://github.com/5krotov/task-resolver-performance-test
[submodule "certificate-generator"]
	path = certificate-generator
	url = https://github.com/5krotov/task-resolver-certificate-generator
